# --- DATABASE CREDENTIALS ---
DB_USERNAME=scott
DB_PASSWORD=DEVI

# --- SMTP (EMAIL) CREDENTIALS ---
SMTP_USERNAME=runwalvlogging@gmail.com
SMTP_PASSWORD=nzffyhqjtvmmtgxe

# --- CLOUDINARY CREDENTIALS ---
CLOUDINARY_CLOUD_NAME=dv2njgzci
CLOUDINARY_API_KEY=424119237126248
CLOUDINARY_API_SECRET=at76aIg2PA7LB6IFedYnVUs-jy4

# --- INFRASTRUCTURE ---
ZIPKIN_URL=http://zipkin:9411
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/

# --- JWT ---
JWT_SECRET=5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
